from spottunet.split import one2one


val_size = 2
n_add_ids = 5
pretrained = False
# n_exps = len(dataset.df.fold.unique()) * (len(dataset.df.fold.unique()) - 1)

n_first_exclude = 0
n_exps = 30
debugging_mode = False

split = one2one(dataset.df, val_size=val_size, n_add_ids=n_add_ids,
                train_on_add_only=pretrained, seed=seed)[n_first_exclude:n_exps]
