from functools import partial

from dpipe.im.metrics import dice_score
from spottunet.utils import get_pred, sdice
from spottunet.metric import aggregate_metric_probably_with_ids


sdice_tolerance = 1

sdice_metric = lambda x, y, i: sdice(get_pred(x), get_pred(y), dataset.load_spacing(i), sdice_tolerance)
dice_metric = lambda x, y: dice_score(get_pred(x), get_pred(y))

val_metrics = {'dice_score': partial(aggregate_metric_probably_with_ids, metric=dice_metric),
               'sdice_score': partial(aggregate_metric_probably_with_ids, metric=sdice_metric)}

final_metrics = {'dice_score': dice_metric, 'sdice_score': sdice_metric}
