from functools import partial

from damri.metric import evaluate_individual_metrics_probably_with_ids_no_pred
from damri.utils import skip_predict


predict_to_dir = skip_predict

evaluate_individual_metrics = partial(
    evaluate_individual_metrics_probably_with_ids_no_pred,
    load_y=load_y,
    load_x=load_x,
    predict=predict,
    metrics=final_metrics,
    test_ids=test_ids,
)
