from damri.torch import freeze_model, load_model_state_fold_wise

baseline_exp_path = 'path/to/cc359_unet2d_one2all'
preload_model_fn = load_model_state_fold_wise
exclude_layers = ('inconv', )

run_experiment = run(
    fix_seed(seed=0xBAAAAAAD),
    lock_dir(),
    preload_model_fn(architecture=architecture, baseline_exp_path=baseline_exp_path,
                     n_folds=len(dataset.df.fold.unique())),
    freeze_model(architecture, exclude_layers=exclude_layers),
    architecture.to(device),
    if_missing(lambda p: [train_model, save_model_state(architecture, p)], saved_model_path),
    load_model_state(architecture, saved_model_path),
    if_missing(predict_to_dir, output_path=test_predictions_path),
    if_missing(evaluate_individual_metrics, results_path='test_metrics'),
)
